

img {
	border-radius: 8px;
	padding:  5%;
}
#weatherImage{
    width: 100%;
    margin: auto;
}

/*img:hover{
    cursor: grabbing;
}*/
.imageContainer > img:click {
	-webkit-transform:scale(1.5); /* or some other value */
    transform:scale(1.5);
}

body {
	background-color:  #f5f5f5;
}

body .canvas {
    font-family:  garamond;
	margin: auto;
	margin-top:  8%;
	margin-bottom:  8%;
	width: 85%;
	max-width:  1000px;
	background-color:  white;
	}


a {
	text-decoration:none;
}

hr{
    margin:  0px;
    margin-top: 2em;
    margin-bottom: 2em;
    color: #eeeeee !important;
    border: 1px solid;
}

#navMenuHr {
    margin:  0px!important;
}

#mainPageHeader {
    padding-top: 5%;
    padding-bottom:  3%;
}

#mainPageHeader h1 {
    font-family:  garamond;
    font-size: 70px;
}

#mainPageImage1 {
    margin-bottom: -7px;
    width:100%;
}

#mainPageImage2 {
    margin-bottom: -7px;
    width:100%;
}


#mainPageContent{
    font-family:  font-family:  Georgia;
    margin-left:  6%; 
    margin-right:  6%; 
    font-size: 20px;
}

#mainPageCopy{
    margin-left:  10%;
    margin-right:  10%;
}
#mainNav{
    font-family:  garamond;
    padding-top: 1.5em;
	width: 100%;
    margin-left:  auto;
    margin-right:  auto;
    text-transform:uppercase;
    font-weight:  bold;
}

#mainNav li{
    list-style:none;
    float:left;
}

#mainNav ul li a{
    padding:35px;
}

#mainNav li a:hover{
    color:grey;
    text-decoration:  underline;
}

button {
    background:  white!important;
    font-size:  20px!important;
    border-bottom: 2px solid!important;
    border-color:  #eeeeee !important;;
}

#mobileNav ul li {
    padding: 10px;
}

.collapsible {
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
}

#mobileNav {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

#mobileNav ul{
    padding-inline-start: 0;
}

#mobileNav li{
    text-align: center;
    list-style-type:  none;
}


.sponsorSection {
    display:  flex;
    flex-direction:  column;
    text-align:  center;
    justify-content:  center;
    align-items:  center;
}




/*WEDDING PARTY PAGE STYLING*/
.weddingParty {
    max-width:  800px;
    margin:  auto;
    display:  flex;
    flex-direction:  row;
    justify-content:  space-around;
    align-items:  center;
    flex-wrap:  wrap;
}

.partyTile {
    /*width: 40%;*/
    /*max-width: 400px;*/
    max-width:  400px;
    margin:  auto;
    flex-basis:  50%;
    display:  flex;
    flex-direction:  column;
    align-items:  center;
    justify-content: center;
}

.partyTile img{
    max-width:  400px;
}

.partyTile p {
    margin:  0px;
    margin-bottom:  10px;
}

/*GALLERY SECTION*/
.galleryWrapper {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.galleryRow{
    width:  100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1000px;
    flex-wrap: wrap;
}
.galImg{
    padding: 1rem;
    max-width: 45%;
    object-fit:  contain;
    margin: auto;
}


/*RESPONSIVE STYLING*/
@media only screen and (max-width: 1140px) {

.galleryWrapper {}
.galleryRow{
    /*flex-direction: column;*/
}
.galImg{
    max-width:  50%;
}
    #mainPageHeader{

        padding-top: 0px!important;
    }
    #mainPageHeader h1 {
        font-size: 40px;
    }
    #mainNav {
        display: none;
        font-family:  Georgia;
    }

    #mainPageHeader span{
        font-size: 35px!important;
        font-family:  Georgia!important;

    }
    #mainPageHeader h3{
        font-size: 18px!important;
        font-family:  Georgia!important;
    }
    #mainPageHeader h4{
        font-size: 15px!important;
        font-family:  Georgia!important;
    }
    
    #mainPageImage1 {
        display:  none;
    }
    #mainPageImage2 {
        display:  block;
    }
    
    body .canvas{
    	width: 100%;
    	margin-top:  0;
        font-family:  Georgia!important;
    }
}

@media only screen and (min-width: 1141px) {
    #mobileNav {
    	display: none;
    }
    .collapsible {
    	display: none;
    }
    #mainPageImage1 {
        display:  block;
    }
    #mainPageImage2 {
        display:  none;
    }
}

