

img {
	border-radius: 8px;
	padding:  5%;
}

img:hover{
    cursor: grabbing;
}
.imageContainer > img:click {
	-webkit-transform:scale(1.5); /* or some other value */
    transform:scale(1.5);
}

body {
	background-color:  #f5f5f5;
}

body .canvas {
    font-family:  garamond!important;
	margin: auto;
	margin-top:  8%;
	margin-bottom:  8%;
	width: 85%;
	max-width:  1000px;
	background-color:  white;
	}


a {
	text-decoration:none;
}

hr{
    margin-top: 2em;
    margin-bottom: 2em;
        color: #eeeeee !important;
     border: 1px solid;
}

#mainPageHeader {
    padding-top: 5%;
    padding-bottom:  3%;
}

#mainPageHeader h1 a span {
    font-family:  garamond;
    font-size: 70px;
}

#mainPageImage1 {
    margin-bottom: -7px;
    width:100%;
}

#mainPageImage2 {
    margin-bottom: -7px;
    width:100%;
}

#mainPageContent{
    margin-left:  6%; 
    margin-right:  6%; 
    font-size: large;
}

#mainPageCopy{
    margin-left:  10%;
    margin-right:  10%;
}
#mainNav{
    font-family:  garamond;
    padding-top: 1.5em;
	width: 80%;
    margin-left:  auto;
    margin-right:  auto;
    text-transform:uppercase;
    font-weight:  bold;
}

#mainNav li{
    list-style:none;
    float:left;
}

#mainNav ul li a{
    padding:35px;
}

#mainNav li a:hover{
    color:grey;
    text-decoration:  underline;
}

button {
    background:  white!important;
    font-size:  20px!important;
}

#mobileNav ul li {
    padding: 10px;
}

@media only screen and (max-width: 1140px) {

    #mainNav {
        display: none;
    }
    #mainPageHeader span{
        font-size: 35px!important;
        font-family:  Garamond, serif;

    }
    #mainPageHeader h3{
        font-size: 18px!important;
    }
    #mainPageHeader h4{
        font-size: 15px!important;
    }
    
    #mainPageImage1 {
        display:  none;
    }
    #mainPageImage2 {
        display:  block;
    }
    
    body .canvas{
    	width: 100%;
    	margin-top:  0;
    }
}

@media only screen and (min-width: 1141px) {
    #mobileNav {
    	display: none;
    }
    .collapsible {
    	display: none;
    }
    #mainPageImage1 {
        display:  block;
    }
    #mainPageImage2 {
        display:  none;
    }
}

.collapsible {
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
}

#mobileNav {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

#mobileNav ul{
	padding-inline-start: 0;
}

#mobileNav li{
	text-align: center;
	list-style-type:  none;
}